
@{
    ViewBag.Title = "cdriedcranberries";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>D Dry Fruits </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<header>
    <div class="profile-icon">
        <i class="fas fa-user-circle"></i>
        <div class="profile-dropdown">
            <a href="profile"> <button onclick="myFunction()">PROFILE</button></a>
            <a href="ddryfruitsandspices"> <button onclick="myFunction()">HOME</button></a>
            <a href="settings"> <button onclick="myFunction()">SETTINGS</button></a>
            <a href="adminpage"><button onclick="myFunction()">SIGN OUT</button></a>
        </div>
    </div>
</header>
<style>
    body {
        background-image: url('/Content/pexels-photo-1939485.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    .card container {
        width: 25%;
        padding: 5%;
        margin-left: 200px;
        margin-right: 200px;
        align-items: center;
        padding-bottom: 100px;
    }

    .text {
        border: 2px solid black;
        margin-left: 1%;
        border-width: 5px;
        border-radius: 10px;
        max-width: fit-content;
        text-align: align center;
        margin-top: 1%;
    }

    .text1 {
        margin-left: 0px;
        padding-bottom: 10px;
        margin-right: 30%;
        font-weight: 1000;
        font-style: bold;
        font-size: 30px;
    }

    .profile-dropdown button {
        width: 110%;
        padding: 4px 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .profile-dropdown {
        display: none;
        position: absolute;
        text-align: center;
        background-color: white;
        font-size: 100%;
        padding: 10px 20px;
        width: 60%;
        size: 100%;
        border: 1px solid #070202;
    }

    .profile-settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .profile-icon {
        float: right;
        position: absolute;
        right: 10px;
        margin-left: 30px;
        height: 150px;
        width: 150px;
        font-size: 30px;
        top: 70px;
    }

        .profile-icon:hover .profile-dropdown {
            display: block;
        }
 

 
</style>
<body>
    <center>
        <a>
            <a href="dryfruits">
                <img src="/Content/ganeshdevops.jpeg-removebg-preview.png" height="150px" width="400px" />

            </a>
    </center>
    <center>
        <div class="row">
            <div class="grid-container">
                <div class="grid-item">
                    <h1 class="text1">DRIED CRANBERRIES</h1>
                    <img src="/Content/DRIED CRANBERRIES.jpg" height="200px" width="250px">
                    <div class="dropdown">
                        <select id="dropdown-menu" style="height: 30px; width: 130px; font-size: medium;">
                            <option value="option1">250gms</option>
                            <option value="option2">500gms</option>
                            <option value="option3">1kg</option>
                            <option value="option3">2kgs</option>
                            <option value="option3">3kgs</option>
                            <option value="option3">4kgs</option>
                            <option value="option3">5kgs</option>
                        </select>
                        <h2 style="text-align: center;">Price:Rs.199/-</h2>
                        <p style="font-size: 20px" class="text">
                            <b>BENEFITS:</b>
                            <BR>Eradicates Dandruff Woes
                            <br> Combats Urinary Tract Infection (UTI)
                            </br> Consuming a few dried cranberries will provide ample vitamin C for the daily diet.
                            </br> Dried cranberry is bestowed with the key mineral for optimal muscle function – magnesium
                        </p>
                    </div>
    </center>

    </div>
    </div>
</body>
</html>





